# Data Types – Composites

## Sequence Types – `list`, `tuple`, `range`

### `list`

In [1]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
len(numbers)

10

In [3]:
numbers.append(10)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
len(numbers)

11

In [5]:
numbers.extend([11, 12])
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [6]:
numbers.insert(0, -1)
numbers

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [7]:
numbers[0]

-1

In [8]:
numbers[-1]

12

In [9]:
numbers.pop(0)

-1

In [10]:
# numbers[100]  # -> IndexError

In [11]:
# closed-open interval: [a, b) = {x | a ≤ x < b}
# from 1 to 10, not include 10
numbers[1:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# the Python way to say “inclusive”
numbers[1:10+1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
numbers[1:10:2]

[1, 3, 5, 7, 9]

In [14]:
numbers[:3]

[0, 1, 2]

In [15]:
numbers[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [16]:
numbers[1] = 100
numbers

[0, 100, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [17]:
numbers.sort()
numbers

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 100]

In [18]:
[1, 2, 3] == [1, 2, 3]

True

In [19]:
[1, 2, 30] > [1, 2, 3]

True

In [20]:
[1, 2, 30] > [1, 2, 3, 4]

True

In [21]:
# linear search: slow when len is large
1 in [1, 2, 3]

True

In [22]:
[1, 2] in [1, 2, 3]

False

In [23]:
[1, 2] in [[1, 2], 3]

True

In [24]:
# but
'12' in '123'

True

#### Variables Point to the Same Object

In [25]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
numbers_2 = numbers
numbers_2[1] = 100
print(numbers)
print(numbers_2)

[0, 100, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 100, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# === numbers_3 = numbers[:]
numbers_3 = numbers.copy()
numbers_3[0] = 1000
print(numbers)
print(numbers_3)

[0, 100, 2, 3, 4, 5, 6, 7, 8, 9]
[1000, 100, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
['List can have mixed types like', 1, 1.2, 1.2+3j, ', even another list', []]

['List can have mixed types like', 1, 1.2, (1.2+3j), ', even another list', []]

### `tuple`

In [29]:
pair = (1, 100)
pair

(1, 100)

In [30]:
pair[0]

1

In [31]:
#pair[0] = 100  # -> TypeError

In [32]:
a, b = pair
print(a, b)

1 100

In [33]:
b, a = a, b
print(a, b)

100 1

In [34]:
head, *bodys, tail = (0, 1, 1, 1, 100)
print(head, bodys, tail)

0 [1, 1, 1] 100

### `range`

In [35]:
r = range(10)
r

range(0, 10)

In [36]:
r[1]

1

In [37]:
#pair[1] = 100  # -> TypeError

In [38]:
evens = range(0, 10, 2)
evens

range(0, 10, 2)

In [39]:
evens[2]

4

### Dig More

* Common Sequence Operations: https://docs.python.org/3/library/stdtypes.html#common-sequence-operations
* Mutable Sequence Types: https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types
* Lists: https://docs.python.org/3/library/stdtypes.html#lists
* Immutable Sequence Types: https://docs.python.org/3/library/stdtypes.html#immutable-sequence-types
* Tuples: https://docs.python.org/3/library/stdtypes.html#tuples
* Ranges: https://docs.python.org/3/library/stdtypes.html#ranges

## Mapping Types – `dict`

In [40]:
id_name_map = {
    'mosky.liu': 'Mosky Liu',
    'mosky.bot': 'Mosky Bot',  # the final comma is optional
}
id_name_map

{'mosky.bot': 'Mosky Bot', 'mosky.liu': 'Mosky Liu'}

In [41]:
id_name_map['mosky.bot']

'Mosky Bot'

In [42]:
id_name_map.keys()

dict_keys(['mosky.liu', 'mosky.bot'])

In [43]:
id_name_map.values()

dict_values(['Mosky Liu', 'Mosky Bot'])

In [44]:
id_name_map.items()

dict_items([('mosky.liu', 'Mosky Liu'), ('mosky.bot', 'Mosky Bot')])

In [45]:
# id_name_map['x']  # -> KeyError

In [46]:
id_name_map['yiyu.liu'] = 'Yi-Yu Liu'
id_name_map

{'mosky.bot': 'Mosky Bot', 'mosky.liu': 'Mosky Liu', 'yiyu.liu': 'Yi-Yu Liu'}

In [47]:
id_name_map.update({
    'yiyu.test1': 'Yi-Yu Test1',
    'yiyu.test2': 'Yi-Yu Test2',
})
id_name_map

{'mosky.bot': 'Mosky Bot',
 'mosky.liu': 'Mosky Liu',
 'yiyu.liu': 'Yi-Yu Liu',
 'yiyu.test1': 'Yi-Yu Test1',
 'yiyu.test2': 'Yi-Yu Test2'}

In [48]:
print(id_name_map.get('x'))

None

In [49]:
id_name_map.get('x', '_default')

'_default'

In [50]:
del id_name_map['yiyu.test2']
id_name_map

{'mosky.bot': 'Mosky Bot',
 'mosky.liu': 'Mosky Liu',
 'yiyu.liu': 'Yi-Yu Liu',
 'yiyu.test1': 'Yi-Yu Test1'}

In [51]:
kwargs = {}
kwargs.setdefault('verbose', False)
kwargs

{'verbose': False}

In [52]:
kwargs = {'verbose': True}
kwargs.setdefault('verbose', False)
kwargs

{'verbose': True}

In [53]:
# hash search: fast!
'unregistered_user' in id_name_map

False

In [54]:
point_reward_map = {(7, 7): 'reward_1000_points'}
point_reward_map[(7, 7)]

'reward_1000_points'

### Dig More

* https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

## Set Types – `set`

In [55]:
banned_ips = {
    '192.168.0.1',
    '192.168.0.1',
    '192.168.0.2',
    '192.168.0.3',
}

In [56]:
ip = '192.168.0.1'

# hash search: fast!
ip in banned_ips

True

In [57]:
set('apple')

{'a', 'e', 'l', 'p'}

In [58]:
set('apple') & set('orange')

{'a', 'e'}

### Dig More

* https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset